{% extends "base.html" %}
{% block titulo %}Novo pedido{% endblock titulo %}
{% block conteudo %}
    <form method="POST">{% csrf_token %}
        {{ form.nomeFuncionario }}<br>
        <label>Data do pedido</label>
        {{ form.dataPedido }}<br>
        <label>Pedido ativo</label>
        {{ form.status }}<br>
        <label>Produto</label>
        {{ form.produto }}<br>
        <label>Preço</label>
        {{ form.valorTotal }}<br>
        <button>Salvar</button>
    </form>
{% endblock conteudo %}