{% extends "base.html" %}
{% block titulo %}Novo pedido{% endblock titulo %}
{% block conteudo %}
    <form method="POST">{% csrf_token %}
        {{ form.nomeFuncionario }}<br>
        <label style="margin-right: 10%;">Data do pedido</label>
        {{ form.dataPedido }}
        <div class="dropdown-divider"></div>
        <label style="margin-right: 10%;">Pedido ativo</label>
        {{ form.status }}
        <div class="dropdown-divider"></div>
        <label style="margin-right: 10%;">Produto</label>
        {{ form.produto }}
        <div class="dropdown-divider"></div>
        <label style="margin-right: 10%;">Quantidade</label>
        {{ form.quantidade }}
        <button>Salvar</button>
        {% if messages %}
			<div class="alert">
  			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  				{% for message in messages %}
  					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  				{% endfor %}
			</div>
		{% endif %}
    </form>
{% endblock conteudo %}